body{
    background-color: black;
}

#container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.box{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    margin: 10px;
}



.fizz {
    background-color: red;    
}

.buzz{
    background-color: green;
}

.fizzbuzz{
    background-color: darkmagenta;
}